[flake8]
ignore =
    D100,
    DAR101,
    DAR201,
    DAR301,
    DAR401,
    # Missing docstring in public package
    D104,
    #  Found too many local variables
    WPS210,
    #  Found `f` string
    WPS305,
    # Found inconsistent `return` statement
    WPS324,
    # Found using `@staticmethod`
    WPS602,
